<h3>About</h3>

<body>

    Wordie is a game that was created for the <i>Hack the break</i> hackathon.
    Our team of Gabriel, Justin, and Jason created a game similar to wordle that allows multiple modes of playing and is hosted on C# ASP.NET
</body>

@code {

}
