@page "/"

<div class="text-center" @onkeydown="KeyboardEventHandler " @onkeypress=" KeyboardEventHandler " @onkeyup="KeyboardEventHandler ">
    <h1 class="display-4">WordIe</h1>
    <p>@currentDateTime</p>
    <p>@KeyPressed</p>
    <p>@EventInfo</p>
    <link rel="stylesheet" href="~/css/app.css" />
    <div>
        <input id="TextGuess1Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess1Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess1Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess1Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess1Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess2Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess2Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess2Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess2Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess2Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess3Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess3Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess4Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess4Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess5Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess5Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <input id="TextGuess6Char0" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char1" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char2" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char3" class="letterInput" maxlength="1" type="text" />
        <input id="TextGuess6Char4" class="letterInput" maxlength="1" type="text" />
    </div>

    <div>
        <button class="keyboard" id="KeyboardQ">Q</button>
        <button class="keyboard" id="KeyboardW" @onclick="DisplayDate">W</button>
        <button class="keyboard" id="KeyboardE">E</button>
        <button class="keyboard" id="KeyboardR">R</button>
        <button class="keyboard" id="KeyboardT">T</button>
        <button class="keyboard" id="KeyboardY">Y</button>
        <button class="keyboard" id="KeyboardU">U</button>
        <button class="keyboard" id="KeyboardI">I</button>
        <button class="keyboard" id="KeyboardO">O</button>
        <button class="keyboard" id="KeyboardP">P</button>
        <br />
        <button class="keyboard" id="KeyboardA">A</button>
        <button class="keyboard" id="KeyboardS">S</button>
        <button class="keyboard" id="KeyboardD">D</button>
        <button class="keyboard" id="KeyboardF">F</button>
        <button class="keyboard" id="KeyboardG">G</button>
        <button class="keyboard" id="KeyboardH">H</button>
        <button class="keyboard" id="KeyboardJ">J</button>
        <button class="keyboard" id="KeyboardK">K</button>
        <button class="keyboard" id="KeyboardL">L</button>
        <br />
        <button class="keyboard" id="KeyboardEnter">Enter</button>
        <button class="keyboard" id="KeyboardZ">Z</button>
        <button class="keyboard" id="KeyboardX">X</button>
        <button class="keyboard" id="KeyboardC">C</button>
        <button class="keyboard" id="KeyboardV">V</button>
        <button class="keyboard" id="KeyboardB">B</button>
        <button class="keyboard" id="KeyboardN">N</button>
        <button class="keyboard" id="KeyboardM">M</button>
        <button class="keyboard" id="KeyboardBackspace">Backspace</button>
    </div>
</div>

@code {


    @*    private ElementReference button1;

        private async void On_Button_Click(ElementReference element)
        {
            await JSRuntime.InvokeVoidAsync(Console.WriteLine());
        }*@

    String currentDateTime;

    private void DisplayDate()
    {
        currentDateTime = DateTime.UtcNow.ToString();
    }

    string KeyPressed = "";
    string EventInfo = "";
    private void KeyboardEventHandler(KeyboardEventArgs args)
    {
        KeyPressed = "Key Pressed is " + args.Key;
        EventInfo = "Event Type " + args.Type;
    }
}